<form [formGroup]="teleForm" novalidate *ngIf="teleForm !== undefined">
    <ion-row>
        <ion-col size-lg="6" size="12">
            <ion-row formGroupName="performance">
                <ion-col class="ns-card">
                    <ion-row>
                        <ion-col>
                            <ion-item color="medium">
                                <ion-label>
                                    Rocket
                                </ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-list>
                                <ion-item>
                                    <ion-label position="floating">
                                        Cell Attempts
                                    </ion-label>
                                    <ion-row class="ion-nowrap">
                                        <ion-col>
                                            <ion-button
                                                    color="success"
                                                    (click)="increaseValue('performance','tele_numCellAttempt')">
                                                +
                                            </ion-button>
                                        </ion-col>
                                        <ion-col size="4">
                                            <ion-input type="number" formControlName="tele_numCellAttempt"></ion-input>
                                        </ion-col>
                                        <ion-col>
                                            <ion-button
                                                    color="danger"
                                                    (click)="decreaseValue('performance', 'tele_numCellAttempt')">
                                                -
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Cell Success
                                    </ion-label>
                                    <ion-row class="ion-nowrap">
                                        <ion-col>
                                            <ion-button
                                                    color="success"
                                                    (click)="increaseValue('performance', 'tele_numCellSuccess')">
                                                +
                                            </ion-button>
                                        </ion-col>
                                        <ion-col size="4">
                                            <ion-input type="number" formControlName="tele_numCellSuccess"></ion-input>
                                        </ion-col>
                                        <ion-col>
                                            <ion-button
                                                    color="danger"
                                                    (click)="decreaseValue('performance', 'tele_numCellSuccess')">
                                                -
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                        <ion-col *ngIf="deviceWidth >= 1200">
                            <img src="assets/imgs/ports.png">
                        </ion-col>
                        <ion-col>
                            <ion-list>
                                <ion-item class="ns-pointer">
                                    <ion-label>
                                        Outer
                                    </ion-label>
                                    <ion-toggle formControlName="tele_flOuter" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item class="ns-pointer">
                                    <ion-label>
                                        Inner
                                    </ion-label>
                                    <ion-toggle formControlName="tele_flInner" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item class="ns-pointer">
                                    <ion-label>
                                        Lower
                                    </ion-label>
                                    <ion-toggle formControlName="tele_flLower" color="primary"></ion-toggle>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row formGroupName="controlPanel">
                <ion-col>
                    <ion-row>
                        <ion-col>
                            <ion-item color="medium">
                                <ion-label>
                                    Control Panel
                                </ion-label>
                            </ion-item>
                        </ion-col>

                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                        <ion-col>
                            <ion-list>
                                <ion-item>
                                    <ion-label>
                                        Rotation Control
                                    </ion-label>
                                    <ion-toggle formControlName="tele_flPanelRotation" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Time Taken
                                    </ion-label>
                                    <ion-select formControlName="tele_idPanelRotationTime">
                                        <ion-select-option value="1">NA</ion-select-option>
                                        <ion-select-option value="2">> 7 sec (slow)</ion-select-option>
                                        <ion-select-option value="3">3-7 sec (medium)</ion-select-option>
                                        <ion-select-option value="4">< 3 sec (fast)</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                        <ion-col>
                            <ion-list>
                                <ion-item>
                                    <ion-label>
                                        Position Control
                                    </ion-label>
                                    <ion-toggle formControlName="tele_flPanelPosition" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Time Taken
                                    </ion-label>
                                    <ion-select formControlName="tele_idPanelPositionTime">
                                        <ion-select-option value="1">NA</ion-select-option>
                                        <ion-select-option value="2">> 7 sec (slow)</ion-select-option>
                                        <ion-select-option value="3">3-7 sec (medium)</ion-select-option>
                                        <ion-select-option value="4">< 3 sec (fast)</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="6">
                            <ion-list>
                                <ion-item>
                                    <ion-label position="floating">
                                        Panel Attempts
                                    </ion-label>
                                    <ion-row class="ion-justify-content-center">
                                        <ion-col>
                                            <ion-button
                                                    color="success"
                                                    (click)="increaseValue('controlPanel', 'tele_numPanelAttempt')">
                                                +
                                            </ion-button>
                                        </ion-col>
                                        <ion-col>
                                            <ion-input type="number" formControlName="tele_numPanelAttempt"></ion-input>
                                        </ion-col>
                                        <ion-col>
                                            <ion-button
                                                    color="danger"
                                                    (click)="decreaseValue('controlPanel', 'tele_numPanelAttempt')">
                                                -
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Panel Success
                                    </ion-label>
                                    <ion-row>
                                        <ion-col>
                                            <ion-button
                                                    color="success"
                                                    (click)="increaseValue('controlPanel', 'tele_numPanelSuccess')">
                                                +
                                            </ion-button>
                                        </ion-col>
                                        <ion-col>
                                            <ion-input type="number" formControlName="tele_numPanelSuccess"></ion-input>
                                        </ion-col>
                                        <ion-col>
                                            <ion-button
                                                    color="danger"
                                                    (click)="decreaseValue('controlPanel', 'tele_numPanelSuccess')">
                                                -
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                        <ion-col size="6" *ngIf="deviceWidth >= 743">
                            <ion-row class="ion-justify-content-center">
                                <ion-col>
                                    <img src="assets/imgs/tele.png">
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col formGroupName="endGame">
            <ion-list>
                <ion-item color="medium">
                    <ion-label>
                        End Game
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        Park
                    </ion-label>
                    <ion-toggle formControlName="tele_flPark" color="primary"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        Climb
                    </ion-label>
                    <ion-select formControlName="tele_idClimb" placeholder="(NA = not attempted)">
                        <ion-select-option value="1">NA</ion-select-option>
                        <ion-select-option value="2">Failed</ion-select-option>
                        <ion-select-option value="3">Success</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        Time to Grip
                    </ion-label>
                    <ion-select formControlName="tele_idClimbGrabTime">
                        <ion-select-option value="1">NA</ion-select-option>
                        <ion-select-option value="2">> 7 sec (slow)</ion-select-option>
                        <ion-select-option value="3">3-7 sec (medium)</ion-select-option>
                        <ion-select-option value="4">< 3 sec (fast)</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        Time from Grip to Climb
                    </ion-label>
                    <ion-select formControlName="tele_idClimbTime">
                        <ion-select-option value="1">NA</ion-select-option>
                        <ion-select-option value="2">> 7 sec (slow)</ion-select-option>
                        <ion-select-option value="3">3-7 sec (medium)</ion-select-option>
                        <ion-select-option value="4">< 3 sec (fast)</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        Outcome
                    </ion-label>
                    <ion-select formControlName="tele_idClimbOutcome">
                        <ion-select-option value="1">NA</ion-select-option>
                        <ion-select-option value="2">Self</ion-select-option>
                        <ion-select-option value="3">Self + Others</ion-select-option>
                        <ion-select-option value="4">Others</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        Buddies
                    </ion-label>
                    <ion-row>
                        <ion-col>
                            <ion-button
                                    (click)="increaseValue('endGame', 'tele_numClimbOthers')"
                                    color="success">+</ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" formControlName="tele_numClimbOthers"></ion-input>
                        </ion-col>
                        <ion-col>
                            <ion-button
                                    (click)="decreaseValue('endGame', 'tele_numClimbOthers')"
                                    color="danger">-</ion-button>
                        </ion-col>
                    </ion-row>

                </ion-item>
                <ion-item>
                    <ion-label>
                        Balance
                    </ion-label>
                    <ion-toggle formControlName="tele_flClimbBalance" color="primary"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>
                       Balance Correction
                    </ion-label>
                    <ion-toggle formControlName="tele_flClimbCorrection" color="primary"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>
                        Fall
                    </ion-label>
                    <ion-toggle formControlName="tele_flClimbFall" color="primary"></ion-toggle>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col>
            <ion-button
                    (click)="onSubmit()"
                    [disabled]="teleForm.pristine || teleForm.invalid"
                    expand="block" color="success">
                Save Tele
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="block" color="light" (click)="createTeleForm()">
                Cancel
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="danger" expand="block" (click)="router.navigateByUrl('/setup')">
                Cancel
            </ion-button>
        </ion-col>
    </ion-row>

</form>

<!--<ion-row *ngIf="teleForm !== undefined">-->
<!--    <ion-col>-->
<!--        <pre>{{teleForm.value | json}}</pre>-->
<!--    </ion-col>-->
<!--</ion-row>-->
