<ion-content>
    <ion-row>
        <ion-col>
            Main component
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>

            <ion-list>
                <ion-item routerLink="/main/pit">
                    <ion-label>
                        Pit
                    </ion-label>
                </ion-item>
                <ion-item routerLink="/main/scout">
                    <ion-label>
                        Scout
                    </ion-label>
                </ion-item>
            </ion-list>
<!--            -->
<!--            <ion-button routerLink="pit">-->
<!--                Pit-->
<!--            </ion-button>-->
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <router-outlet></router-outlet>
        </ion-col>
    </ion-row>

<!--    <ion-row>-->
<!--        <ion-col>-->
<!--            <ion-button routerLink="scout">-->
<!--                Scout-->
<!--            </ion-button>-->
<!--        </ion-col>-->
<!--    </ion-row>-->

</ion-content>


