<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button color="danger" (click)="clearDataStorage()">Clear Data Storage</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="getDistrictsFromApi()">Get Districts From API</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button (click)="getEventsFromApi()" >Get Events From API</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="getEventsFromStorage()" >Get Events From Storage</ion-button>
    </ion-col>
    <ion-col *ngIf="dataForm !== undefined">
      {{dataForm.value | json}}
    </ion-col>
  </ion-row>

  <ng-container *ngIf="dataForm !== undefined">
    <form [formGroup]="dataForm">
      <ion-row *ngIf="teamKeys.length !== 0" justify-content-center>
        <ion-col size-lg="5">
          <ion-list>
            <ion-item>
              <ion-label position="floating">
                Team
              </ion-label>
              <ion-select formControlName="teamKey" placeholder="select team">
                <ion-select-option *ngFor="let k of teamKeys">{{k}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </form>
  </ng-container>



  <ion-row>
    <ion-col>
      <pre>{{selectedTeam | json}}</pre>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="events.length !== 0">
    <ion-row *ngFor="let e of events" (click)="getTeamIdsForEvent(e.event_code)">
      <ion-col>
        {{e.name}} -- {{e.event_code}}
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>
