<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pit Form</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row justify-content-center *ngIf="selectedEventStorage.event.key !== ''" class="ns-margin-top">
        <ion-col size-lg="6">
            <h1>Event {{selectedEventStorage.event.name}}</h1>
        </ion-col>
    </ion-row>

    <ion-row
            *ngIf="selectedEventStorage.event.key === ''"
            justify-content-center class="ns-margin-top">
        <ion-col size-lg="6" class="ns-card-note ns-pointer" routerLink="/setup">
            <p>
                No event selected, please click here to choose one on the setup page
            </p>
        </ion-col>
    </ion-row>

    <form [formGroup]="pitForm" novalidate *ngIf="selectedEventStorage.event.key !== ''">
        <ion-row style="margin-top: 50px" justify-content-center>
            <ion-col class="ns-card-note" size-xl="5" size-lg="7" size-md="8" size-xs="10">
                <ion-row justify-content-center>
                    <ion-col>
                        <ion-item-group formGroupName="details">
                            <ion-item-divider>
                                <ion-label>
                                    Detail
                                </ion-label>
                            </ion-item-divider>
                            <ion-list class="ns-pit-list">
                                <ion-item>
                                    <ion-label position="floating">
                                        Team
                                    </ion-label>
                                    <ion-select formControlName="idTeam">
                                        <ion-select-option *ngFor="let t of selectedEventStorage.teams" [value]="t.key">
                                            {{t.nickname}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Scout Name
                                    </ion-label>
                                    <ion-input formControlName="txScoutName"></ion-input>
                                </ion-item>
                            </ion-list>
                        </ion-item-group>
                        <ion-item-group>
                            <ion-item-divider>
                                <ion-label>
                                    Measurement
                                </ion-label>
                            </ion-item-divider>
                            <ion-list class="ns-pit-list">
                                <ion-item>
                                    <ion-label>
                                        Imperial Units
                                    </ion-label>
                                    <ion-toggle formControlName="imperialUnits" color="primary"></ion-toggle>
                                </ion-item>
                            </ion-list>
                        </ion-item-group>

                        <ion-item-group formGroupName="robotStats">
                            <ion-item-divider>
                                <ion-label>
                                    Robot Stats
                                </ion-label>
                            </ion-item-divider>
                            <ion-list class="ns-pit-list">
                                <ion-item>
                                    <ion-label position="floating" >
                                        Weight
                                    </ion-label>
                                    <ion-input *ngIf="!imperialUnits"
                                               type="number"
                                               formControlName="numWeight" placeholder="(kg)"></ion-input>
                                    <ion-input *ngIf="imperialUnits"
                                               type="number"
                                               formControlName="numWeight" placeholder="(lb)"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating" >
                                        Height
                                    </ion-label>
                                    <ion-input *ngIf="!imperialUnits"
                                               type="number"
                                               formControlName="numHeight" placeholder="(cm)"></ion-input>
                                    <ion-input *ngIf="imperialUnits"
                                               type="number"
                                               formControlName="numHeight" placeholder="(inches)"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating" >
                                        Team Uniform
                                    </ion-label>
                                    <ion-input formControlName="imgTeamUniform"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating" >
                                        Robot Front
                                    </ion-label>
                                    <ion-input formControlName="imgRobotFront"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating" >
                                        Robot Side
                                    </ion-label>
                                    <ion-input formControlName="imgRobotSide"></ion-input>
                                </ion-item>
                            </ion-list>
                        </ion-item-group>

                        <ion-item-group formGroupName="powerCells">
                            <ion-item-divider>
                                <ion-label>
                                    Power Cells
                                </ion-label>
                            </ion-item-divider>
                            <ion-list class="ns-pit-list">
                                <ion-item [color]="pitForm.value['powerCells']['flCells'] ? 'success' : 'warning'">
                                    <ion-label>
                                        Manipulate
                                    </ion-label>
                                    <ion-toggle formControlName="flCells" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Ground Intake
                                    </ion-label>
                                    <ion-toggle formControlName="flIntakeGround" color="primary">
                                    </ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        High Loading Station Intake
                                    </ion-label>
                                    <ion-toggle formControlName="flIntakeHigh" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Storage Capacity
                                    </ion-label>
                                    <ion-input type="number" formControlName="numStorage" placeholder="(number)"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Shooting Mechanism
                                    </ion-label>
                                    <ion-textarea formControlName="txShooting" placeholder="Description of mechanism" ></ion-textarea>
                                </ion-item>
                                <ion-item>
                                    <ion-list>
                                        <ion-item lines="none">
                                            <ion-label>
                                                Lower Target
                                            </ion-label>
                                            <ion-toggle formControlName="flTargetLow"></ion-toggle>
                                        </ion-item>
                                        <ion-item lines="none">
                                            <ion-label>
                                                Outer Target
                                            </ion-label>
                                            <ion-toggle formControlName="flTargetOuter"></ion-toggle>
                                        </ion-item>
                                        <ion-item lines="none">
                                            <ion-label>
                                                Inner Target
                                            </ion-label>
                                            <ion-toggle formControlName="flTargetInner"></ion-toggle>
                                        </ion-item>
                                    </ion-list>
                                </ion-item>
                            </ion-list>
                        </ion-item-group>

                        <ion-item-group formGroupName="climb">
                            <ion-item-divider>
                                <ion-label>
                                    Climb
                                </ion-label>
                            </ion-item-divider>
                            <ion-row>
                                <ion-col>
                                    <ion-list class="ns-pit-list">
                                        <ion-item [color]="pitForm.value['climb']['flClimb'] ? 'success' : 'warning'">
                                            <ion-label>
                                                Can Climb
                                            </ion-label>
                                            <ion-toggle formControlName="flClimb"></ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Climb Type
                                            </ion-label>
                                            <ion-select formControlName="idClimbType">
                                                <ion-select-option value="1">Rigid</ion-select-option>
                                                <ion-select-option value="2">Flexible</ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating">
                                                Height
                                            </ion-label>
                                            <ion-input formControlName="numClimbHeight" type="number"></ion-input>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Secure Hold
                                            </ion-label>
                                            <ion-toggle formControlName="flClimbSecure"></ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Time (Grip)
                                            </ion-label>
                                            <ion-select formControlName="idClimbGrab">
                                                <ion-select-option value="1">NA</ion-select-option>
                                                <ion-select-option value="2">Slow</ion-select-option>
                                                <ion-select-option value="3">Medium</ion-select-option>
                                                <ion-select-option value="4">Fast</ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Time (Grip to Climb)
                                            </ion-label>
                                            <ion-select formControlName="idClimbSpeed">
                                                <ion-select-option value="1">NA</ion-select-option>
                                                <ion-select-option value="2">Slow</ion-select-option>
                                                <ion-select-option value="3">Medium</ion-select-option>
                                                <ion-select-option value="4">Fast</ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Tilting
                                            </ion-label>
                                            <ion-toggle formControlName="flClimbTilt"></ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating">
                                                Climb Mechanism
                                            </ion-label>
                                            <ion-textarea formControlName="txClimb" placeholder="Description of climb mechanism" >
                                            </ion-textarea>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Preferred Position
                                            </ion-label>
                                            <ion-select formControlName="idClimbPos">
                                                <ion-select-option value="1">NA</ion-select-option>
                                                <ion-select-option value="2">Any</ion-select-option>
                                                <ion-select-option value="3">Inner</ion-select-option>
                                                <ion-select-option value="4">Middle</ion-select-option>
                                                <ion-select-option value="5">Outer</ion-select-option>
                                            </ion-select>
                                        </ion-item>

                                        <ion-item-group>
                                            <ion-item
                                                    [color]="pitForm.value['climb']['flClimbLevel'] ? 'success' : 'warning'" >
                                                <ion-label>
                                                    Can Level Generator
                                                </ion-label>
                                                <ion-toggle
                                                        color="primary"
                                                        formControlName="flClimbLevel"></ion-toggle>
                                            </ion-item>
                                            <ion-list class="ns-pit-list">
                                                <ion-item>
                                                    <ion-label>
                                                        Level Self
                                                    </ion-label>
                                                    <ion-toggle color="primary" formControlName="flClimbLevelSelf"></ion-toggle>
                                                </ion-item>
                                                <ion-item>
                                                    <ion-label>
                                                        Level Other
                                                    </ion-label>
                                                    <ion-toggle color="primary" formControlName="flClimbLevelOther"></ion-toggle>
                                                </ion-item>
                                                <ion-item>
                                                    <ion-label>
                                                        Reposition While Hanging
                                                    </ion-label>
                                                    <ion-toggle color="primary" formControlName="flClimbMove">
                                                    </ion-toggle>
                                                </ion-item>
                                                <ion-item>
                                                    <ion-label>
                                                        Buddy Climb
                                                    </ion-label>
                                                    <ion-toggle color="primary" formControlName="flClimbOther">
                                                    </ion-toggle>
                                                </ion-item>
                                                <ion-item>
                                                    <ion-label position="floating">
                                                        Buddies
                                                    </ion-label>
                                                    <ion-input
                                                            type="number"
                                                            placeholder="(How many?)"
                                                            formControlName="numClimbOther"></ion-input>
                                                </ion-item>
                                            </ion-list>
                                        </ion-item-group>
                                    </ion-list>
                                </ion-col>
                            </ion-row>
                        </ion-item-group>

                        <ion-item-group formGroupName="controlPanel">
                            <ion-item-divider>
                                <ion-label>
                                    Control Panel
                                </ion-label>
                            </ion-item-divider>
                            <ion-list class="ns-pit-list">
                                <ion-item [color]="pitForm.value['controlPanel']['flPanel'] ? 'success' : 'warning'" >
                                    <ion-label>
                                        Manipulate Control Panel
                                    </ion-label>
                                    <ion-toggle formControlName="flPanel"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Brakes
                                    </ion-label>
                                    <ion-toggle formControlName="flPanelBrake" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Rotation Control
                                    </ion-label>
                                    <ion-toggle formControlName="flPanelRotation" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Position Control
                                    </ion-label>
                                    <ion-toggle formControlName="flPanelPos" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Sensor
                                    </ion-label>
                                    <ion-toggle formControlName="flPanelSensor" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Notes
                                    </ion-label>
                                    <ion-textarea formControlName="txPanelSensor" placeholder="(What kind of sensor etc)" ></ion-textarea>
                                </ion-item>
                            </ion-list>
                        </ion-item-group>

                        <ion-item-group formGroupName="auto">
                            <ion-item-divider>
                                <ion-label>
                                    Auto
                                </ion-label>
                            </ion-item-divider>
                            <ion-list class="ns-pit-list">
                                <ion-item [color]="pitForm.value['auto']['flAuto'] ? 'success' : 'warning'">
                                    <ion-label>
                                        Does Auto
                                    </ion-label>
                                    <ion-toggle formControlName="flAuto" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Line
                                    </ion-label>
                                    <ion-toggle formControlName="flAutoLine" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item [color]="pitForm.value['climb']['flPanel'] ? 'success' : 'warning'">
                                    <ion-label>
                                        Can Shoot
                                    </ion-label>
                                    <ion-toggle formControlName="flAutoShoot" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Balls
                                    </ion-label>
                                    <ion-input formControlName="numAutoShoot" type="number" placeholder="(number)"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Pick up
                                    </ion-label>
                                    <ion-input formControlName="numAutoLoad" type="number" placeholder="(number)"></ion-input>
                                </ion-item>
                            </ion-list>

                        </ion-item-group>

                    </ion-col>
                </ion-row>


                <ion-row *ngIf="spinner" justify-content-center>
                    <ion-col size-md="2">
                        <ion-spinner></ion-spinner>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="successMessage" justify-content-center>
                    <ion-col size-md="12">
                        <ion-item color="success">
                            {{successMessage}}
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row justify-content-center>
                    <ion-col size-md="6">
                        <ion-button expand="block"
                                    color="success"
                                    (click)="onSubmit()" [disabled]="pitForm.pristine || pitForm.invalid">
                            Save
                        </ion-button>
                    </ion-col>
                    <ion-col size-md="6">
                        <ion-button expand="block" color="danger" (click)="pitForm.reset()">
                            Clear
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

    </form>

    <!--    <ion-row>-->
    <!--        <ion-col>-->
    <!--            <pre>{{pitForm.value | json}}</pre>-->
    <!--        </ion-col>-->
    <!--    </ion-row>-->


</ion-content>

