<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pit Form</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row *ngIf="selectedEventStorage.event.key !== ''" class="ns-margin-top ion-justify-content-center">
        <ion-col size-lg="6" class="ns-card-form">
            <ion-row>
                <ion-col>
                    Event {{selectedEventStorage.event.name}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    Device Name - {{selectedEventStorage.deviceName}}
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>

    <ion-row
            *ngIf="selectedEventStorage.event.key === ''"
            class="ns-margin-top ion-justify-content-center">
        <ion-col size-lg="6" class="ns-card-note ns-pointer" routerLink="/setup">
            <p>
                No event selected, please click here to choose one on the setup page
            </p>
        </ion-col>
    </ion-row>

    <form [formGroup]="pitForm" novalidate *ngIf="selectedEventStorage.event.key !== ''">
        <ion-row class="ion-justify-content-center">
            <ion-col>
                <ion-row class="ion-justify-content-center">
                    <ion-col size-lg="8" class="ns-card-form">
                        <ion-list class="ns-pit-list" formGroupName="details">
                            <ion-item color="medium">
                                <ion-label>
                                    <h1>
                                        Details
                                    </h1>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">
                                    Team
                                </ion-label>
                                <ion-select formControlName="idTeam">
                                    <ion-select-option *ngFor="let t of selectedEventStorage.teams" [value]="t.key">
                                        {{t.key}} - {{t.nickname}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">
                                    Device Name
                                </ion-label>
                                <ion-input formControlName="txDeviceName"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    Imperial Units
                                </ion-label>
                                <ion-toggle formControlName="imperialUnits" color="primary"></ion-toggle>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row class="ion-justify-content-center">
                    <ion-col size-lg="5">
                        <ion-row>
                            <ion-col class="ns-card-form">
                                    <ion-list class="ns-list-indent" formGroupName="robotStats">
                                        <ion-item color="medium" lines="none">
                                            <ion-label>
                                                <h1>Robot Stats</h1>
                                            </ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating"
                                                       *ngIf="pitForm.value['details']['imperialUnits']">
                                                Weight (lb)
                                            </ion-label>
                                            <ion-label position="floating"
                                                       *ngIf="!pitForm.value['details']['imperialUnits']">
                                                Weight (kg)
                                            </ion-label>
                                            <ion-row>
                                                <ion-col>
                                                    <ion-button color="success"
                                                            (click)="increaseValue('robotStats', 'numWeight')">
                                                        +
                                                    </ion-button>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input type="number" formControlName="numWeight"></ion-input>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-button color="danger"
                                                            (click)="decreaseValue('robotStats', 'numWeight')">
                                                        -
                                                    </ion-button>
                                                </ion-col>
                                            </ion-row>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label
                                                    *ngIf="pitForm.value['details']['imperialUnits']"
                                                    position="floating">
                                                Height (inches)
                                            </ion-label>
                                            <ion-label
                                                    *ngIf="!pitForm.value['details']['imperialUnits']"
                                                    position="floating">
                                                Height (cm)
                                            </ion-label>
                                            <ion-row>
                                                <ion-col>
                                                    <ion-button color="success"
                                                                (click)="increaseValue('robotStats', 'numHeight')">
                                                        +
                                                    </ion-button>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input type="number" formControlName="numHeight"></ion-input>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-button color="danger"
                                                                (click)="decreaseValue('robotStats', 'numHeight')">
                                                        -
                                                    </ion-button>
                                                </ion-col>
                                            </ion-row>
                                        </ion-item>
                                        <ion-item *ngIf="device === 'mobile'">

                                            <ion-button (click)="takePicture()">
                                                Take picture
                                            </ion-button>
                                        </ion-item>
<!--                                        <ion-item>-->
<!--                                            <ion-label position="floating" >-->
<!--                                                Team Uniform-->
<!--                                            </ion-label>-->
<!--                                            <ion-input formControlName="imgTeamUniform"></ion-input>-->
<!--                                        </ion-item>-->
<!--                                        <ion-item>-->
<!--                                            <ion-label position="floating" >-->
<!--                                                Robot Front-->
<!--                                            </ion-label>-->
<!--                                            <ion-input formControlName="imgRobotFront"></ion-input>-->
<!--                                        </ion-item>-->
<!--                                        <ion-item>-->
<!--                                            <ion-label position="floating" >-->
<!--                                                Robot Side-->
<!--                                            </ion-label>-->
<!--                                            <ion-input formControlName="imgRobotSide"></ion-input>-->
<!--                                        </ion-item>-->
                                    </ion-list>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="ns-card-form">
                                    <ion-list formGroupName="powerCells">
                                        <ion-item color="medium">
                                            <ion-label>
                                                <h1>
                                                    Power Cells
                                                </h1>
                                            </ion-label>
                                        </ion-item>
                                        <ion-item [color]="pitForm.value['powerCells']['flCells'] ? 'success' : 'warning'">
                                            <ion-label>
                                                Can Manipulate Power Cells
                                            </ion-label>
                                            <ion-toggle formControlName="flCells" color="primary"></ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Ground Intake
                                            </ion-label>
                                            <ion-toggle formControlName="flIntakeGround" color="primary">
                                            </ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                High Loading Station Intake
                                            </ion-label>
                                            <ion-toggle formControlName="flIntakeHigh" color="primary"></ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating">
                                                Storage Capacity
                                            </ion-label>
                                            <ion-row>
                                                <ion-col>
                                                    <ion-button color="success"
                                                                (click)="increaseValue('powerCells', 'numStorage')">
                                                        +
                                                    </ion-button>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input type="number" formControlName="numStorage"></ion-input>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-button color="danger"
                                                                (click)="decreaseValue('powerCells', 'numStorage')">
                                                        -
                                                    </ion-button>
                                                </ion-col>
                                            </ion-row>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating">
                                                Shooting Mechanism
                                            </ion-label>
                                            <ion-textarea formControlName="txShooting" placeholder="Description of mechanism" ></ion-textarea>
                                        </ion-item>
                                        <ion-item>
                                            <ion-list>
                                                <ion-item lines="none">
                                                    <ion-label>
                                                        Lower Target
                                                    </ion-label>
                                                    <ion-toggle formControlName="flTargetLow"></ion-toggle>
                                                </ion-item>
                                                <ion-item lines="none">
                                                    <ion-label>
                                                        Outer Target
                                                    </ion-label>
                                                    <ion-toggle formControlName="flTargetOuter"></ion-toggle>
                                                </ion-item>
                                                <ion-item lines="none">
                                                    <ion-label>
                                                        Inner Target
                                                    </ion-label>
                                                    <ion-toggle formControlName="flTargetInner"></ion-toggle>
                                                </ion-item>
                                            </ion-list>
                                        </ion-item>
                                    </ion-list>
                            </ion-col>
                        </ion-row>

                    </ion-col>

                    <ion-col size-lg="5">
                        <ion-row>
                            <ion-col class="ns-card-form">
                                <ion-list class="ns-pit-list" formGroupName="climb">
                                    <ion-item color="medium">
                                        <ion-label>
                                            <h1>
                                                Climbing
                                            </h1>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item [color]="pitForm.value['climb']['flClimb'] ? 'success' : 'warning'">
                                        <ion-label>
                                            Can Climb
                                        </ion-label>
                                        <ion-toggle formControlName="flClimb"></ion-toggle>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            Climb Type
                                        </ion-label>
                                        <ion-select formControlName="idClimbType">
                                            <ion-select-option value="1">Rigid</ion-select-option>
                                            <ion-select-option value="2">Flexible</ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                    <ion-item>
<!--                                        <ion-label position="floating">-->
<!--                                            Climb Height-->
<!--                                        </ion-label>-->
<!--                                        <ion-input formControlName="numClimbHeight" type="number"></ion-input>-->
                                            <ion-label
                                                    *ngIf="pitForm.value['details']['imperialUnits']"
                                                    position="floating">
                                                Max Height Above Ground (inches)
                                            </ion-label>
                                            <ion-label
                                                    *ngIf="!pitForm.value['details']['imperialUnits']"
                                                    position="floating">
                                                Max Height Above Ground (cm)
                                            </ion-label>
                                            <ion-row>
                                                <ion-col>
                                                    <ion-button color="success"
                                                                [disabled]="pitForm.get('climb').get('numClimbHeight').disabled"
                                                                (click)="increaseValue('climb', 'numClimbHeight')">
                                                        +
                                                    </ion-button>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-input type="number" formControlName="numClimbHeight"></ion-input>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-button color="danger"
                                                                [disabled]="pitForm.get('climb').get('numClimbHeight').disabled"
                                                                (click)="decreaseValue('climb', 'numClimbHeight')">
                                                        -
                                                    </ion-button>
                                                </ion-col>
                                            </ion-row>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            Active Hold?
                                        </ion-label>
                                        <ion-toggle formControlName="flClimbSecure"></ion-toggle>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            Time (Grip)
                                        </ion-label>
                                        <ion-select formControlName="idClimbGrab">
                                            <ion-select-option value="1">NA</ion-select-option>
                                            <ion-select-option value="2">> 7 sec (slow)</ion-select-option>
                                            <ion-select-option value="3">3-7 sec (medium)</ion-select-option>
                                            <ion-select-option value="4">< 3 sec (fast)</ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            Time (Grip to Climb)
                                        </ion-label>
                                        <ion-select formControlName="idClimbSpeed">
                                            <ion-select-option value="1">NA</ion-select-option>
                                            <ion-select-option value="2">> 7 sec (slow)</ion-select-option>
                                            <ion-select-option value="3">3-7 sec (medium)</ion-select-option>
                                            <ion-select-option value="4">< 3 sec (fast)</ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            Tilted Bar?
                                        </ion-label>
                                        <ion-toggle formControlName="flClimbTilt"></ion-toggle>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Climb Mechanism
                                        </ion-label>
                                        <ion-textarea formControlName="txClimb" placeholder="Description of climb mechanism" >
                                        </ion-textarea>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            Preferred Climb Position
                                        </ion-label>
                                        <ion-select formControlName="idClimbPos">
                                            <ion-select-option value="1">NA</ion-select-option>
                                            <ion-select-option value="2">Any</ion-select-option>
                                            <ion-select-option value="3">Inner</ion-select-option>
                                            <ion-select-option value="4">Middle</ion-select-option>
                                            <ion-select-option value="5">Outer</ion-select-option>
                                        </ion-select>
                                    </ion-item>


                                        <ion-list class="ns-pit-list">
                                            <ion-item
                                                    [color]="pitForm.value['climb']['flClimbLevel'] ? 'success' : 'warning'" >
                                                <ion-label>
                                                    Can Level Generator
                                                </ion-label>
                                                <ion-toggle
                                                        color="primary"
                                                        formControlName="flClimbLevel"></ion-toggle>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label>
                                                    Level Self
                                                </ion-label>
                                                <ion-toggle color="primary" formControlName="flClimbLevelSelf"></ion-toggle>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label>
                                                    Level Other
                                                </ion-label>
                                                <ion-toggle color="primary" formControlName="flClimbLevelOther"></ion-toggle>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label>
                                                    Reposition While Hanging
                                                </ion-label>
                                                <ion-toggle color="primary" formControlName="flClimbMove">
                                                </ion-toggle>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label>
                                                    Buddy Climb
                                                </ion-label>
                                                <ion-toggle color="primary" formControlName="flClimbOther">
                                                </ion-toggle>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label position="floating">
                                                    Buddies
                                                </ion-label>
                                                <ion-row>
                                                    <ion-col>
                                                        <ion-button color="success"
                                                                    [disabled]="pitForm.get('climb').get('numClimbOther').disabled"
                                                                    (click)="increaseValue('climb', 'numClimbOther')">
                                                            +
                                                        </ion-button>
                                                    </ion-col>
                                                    <ion-col>
                                                        <ion-input type="number" formControlName="numClimbOther"></ion-input>
                                                    </ion-col>
                                                    <ion-col>
                                                        <ion-button color="danger"
                                                                    [disabled]="pitForm.get('climb').get('numClimbOther').disabled"
                                                                    (click)="decreaseValue('climb', 'numClimbOther')">
                                                            -
                                                        </ion-button>
                                                    </ion-col>
                                                </ion-row>
                                            </ion-item>
                                        </ion-list>
                                </ion-list>
                            </ion-col>
                        </ion-row>
                    </ion-col>

                </ion-row>

                <ion-row class="ion-justify-content-center">
                    <ion-col size-lg="5" class="ns-card-form" style="margin-right: 10px">
                            <ion-list class="ns-list-indent" formGroupName="controlPanel">
                                <ion-item color="medium">
                                    <ion-label>
                                        <h1>
                                            Control Panel
                                        </h1>
                                    </ion-label>
                                </ion-item>
                                <ion-item [color]="pitForm.value['controlPanel']['flPanel'] ? 'success' : 'warning'" >
                                    <ion-label>
                                        Manipulate Control Panel
                                    </ion-label>
                                    <ion-toggle formControlName="flPanel"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Can Stop Wheel
                                    </ion-label>
                                    <ion-toggle formControlName="flPanelBrake" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Rotation Control
                                    </ion-label>
                                    <ion-toggle formControlName="flPanelRotation" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Position Control
                                    </ion-label>
                                    <ion-toggle formControlName="flPanelPos" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Sensor
                                    </ion-label>
                                    <ion-toggle formControlName="flPanelSensor" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Notes
                                    </ion-label>
                                    <ion-textarea formControlName="txPanelSensor" placeholder="(What kind of sensor etc)" ></ion-textarea>
                                </ion-item>
                            </ion-list>
                    </ion-col>
                    <ion-col class="ns-card-form" size-lg="5">

                            <ion-list class="ns-pit-list" formGroupName="auto">
                                <ion-item color="medium">
                                    <ion-label>
                                        <h1>Auto</h1>
                                    </ion-label>
                                </ion-item>
                                <ion-item [color]="pitForm.value['auto']['flAuto'] ? 'success' : 'warning'">
                                    <ion-label>
                                        Does Auto
                                    </ion-label>
                                    <ion-toggle formControlName="flAuto" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Leaves Line
                                    </ion-label>
                                    <ion-toggle formControlName="flAutoLine" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item [color]="pitForm.value['auto']['flAutoShoot'] ? 'success' : 'warning'">
                                    <ion-label>
                                        Can Shoot
                                    </ion-label>
                                    <ion-toggle formControlName="flAutoShoot" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Balls
                                    </ion-label>
                                    <ion-row>
                                        <ion-col>
                                            <ion-button color="success"
                                                        [disabled]="pitForm.get('auto').get('numAutoShoot').disabled"
                                                        (click)="increaseValue('auto', 'numAutoShoot')">
                                                +
                                            </ion-button>
                                        </ion-col>
                                        <ion-col>
                                            <ion-input type="number" formControlName="numAutoShoot"></ion-input>
                                        </ion-col>
                                        <ion-col>
                                            <ion-button color="danger"
                                                        [disabled]="pitForm.get('auto').get('numAutoShoot').disabled"
                                                        (click)="decreaseValue('auto', 'numAutoShoot')">
                                                -
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Pick up
                                    </ion-label>
                                    <ion-row>
                                        <ion-col>
                                            <ion-button color="success"
                                                        [disabled]="pitForm.get('auto').get('numAutoLoad').disabled"
                                                        (click)="increaseValue('auto', 'numAutoLoad')">
                                                +
                                            </ion-button>
                                        </ion-col>
                                        <ion-col>
                                            <ion-input type="number" formControlName="numAutoLoad"></ion-input>
                                        </ion-col>
                                        <ion-col>
                                            <ion-button color="danger"
                                                        [disabled]="pitForm.get('auto').get('numAutoLoad').disabled"
                                                        (click)="decreaseValue('auto', 'numAutoLoad')">
                                                -
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-item>
                            </ion-list>
                    </ion-col>
                </ion-row>


                <ion-row *ngIf="spinner" class="ion-justify-content-center">
                    <ion-col size-md="2">
                        <ion-spinner></ion-spinner>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="successMessage" class="ion-justify-content-center">
                    <ion-col class="ns-card-form" size-lg="6">
                        <ion-item color="success">
                            {{successMessage}}
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="pitForm.dirty && pitForm.invalid" class="ion-justify-content-center">
                    <ion-col class="ns-card-form" size-lg="6">
                        <ion-list>
                            <ion-item *ngIf="pitForm.get('details').get('idTeam').invalid" color="danger">
                                <ion-label>
                                    You must select a team
                                </ion-label>
                            </ion-item>
                            <ion-item *ngIf="pitForm.get('details').get('imperialUnits').invalid" color="danger">
                                <ion-label>
                                    You must select measurement units
                                </ion-label>
                            </ion-item>
                            <ion-item *ngIf="pitForm.get('details').get('txDeviceName').invalid" color="danger">
                                <ion-label>
                                    You must enter a device name
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row class="ion-justify-content-center">
                    <ion-col class="ns-card-form" size-lg="6">
                        <ion-row>
                            <ion-col size-md="6">
                                <ion-button expand="block"
                                            color="success"
                                            (click)="onSubmit()" [disabled]="pitForm.pristine || pitForm.invalid">
                                    Save
                                </ion-button>
                            </ion-col>
                            <ion-col size-md="6">
                                <ion-button expand="block" color="danger" (click)="pitForm.reset()">
                                    Clear
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-col>

                </ion-row>



            </ion-col>


        </ion-row>

    </form>

    <!--    <ion-row>-->
    <!--        <ion-col>-->
    <!--            <pre>{{pitForm.value | json}}</pre>-->
    <!--        </ion-col>-->
    <!--    </ion-row>-->


</ion-content>

