<ion-content>
    <form [formGroup]="pitForm" novalidate>
        <ion-row >
            <ion-col>
                <ion-row justify-content-center>
                    <ion-col size-md="5">

                        <ion-item-group>
                            <ion-item>
                                <ion-label>
                                    Imperial Units
                                </ion-label>
                                <ion-toggle formControlName="imperialUnits" color="primary"></ion-toggle>
                            </ion-item>
                        </ion-item-group>

                        <ion-item-group  formGroupName="details">
                            <ion-item-divider>
                                <ion-label>
                                    Detail
                                </ion-label>
                            </ion-item-divider>
                            <ion-list class="ns-pit-list">
                                <ion-item>
                                    <ion-label position="floating">
                                        Scout Name
                                    </ion-label>
                                    <ion-select formControlName="teamMemberId">
                                        <ion-select-option *ngFor="let t of teamMembers" [value]="t.id">
                                            {{t.lastName}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Event
                                    </ion-label>
                                    <ion-select formControlName="eventId">
                                        <ion-select-option *ngFor="let e of events" [value]="e.id">
                                            {{e.name}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Team
                                    </ion-label>
                                    <ion-select formControlName="teamId">
                                        <ion-select-option *ngFor="let t of teams" [value]="t.id">
                                            {{t.name}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-list>
                        </ion-item-group>

                        <ion-item-group formGroupName="robotStats">
                            <ion-item-divider>
                                <ion-label>
                                    Robot Stats
                                </ion-label>
                            </ion-item-divider>
                            <ion-list class="ns-pit-list">
                                <ion-item>
                                    <ion-label position="floating" >
                                        Weight
                                    </ion-label>
                                    <ion-input *ngIf="!imperialUnits"
                                               type="number"
                                               formControlName="weight" placeholder="(kg)"></ion-input>
                                    <ion-input *ngIf="imperialUnits"
                                               type="number"
                                               formControlName="weight" placeholder="(lb)"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating" >
                                        Height
                                    </ion-label>
                                    <ion-input *ngIf="!imperialUnits"
                                               type="number"
                                               formControlName="height" placeholder="(cm)"></ion-input>
                                    <ion-input *ngIf="imperialUnits"
                                               type="number"
                                               formControlName="height" placeholder="(inches)"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating" >
                                        Team Shirt
                                    </ion-label>
                                    <ion-input formControlName="teamShirt"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating" >
                                        Robot Front
                                    </ion-label>
                                    <ion-input formControlName="robotFront"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating" >
                                        Robot Side
                                    </ion-label>
                                    <ion-input formControlName="height"></ion-input>
                                </ion-item>
                            </ion-list>
                        </ion-item-group>

                        <ion-item-group formGroupName="powerCells">
                            <ion-item-divider>
                                <ion-label>
                                    Power Cells
                                </ion-label>
                            </ion-item-divider>
                            <ion-list class="ns-pit-list">
                                <ion-item>
                                    <ion-label>
                                        Manipulate
                                    </ion-label>
                                    <ion-toggle formControlName="manipulate" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Ground Intake
                                    </ion-label>
                                    <ion-toggle formControlName="groundIntake" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        High Loading Station Intake
                                    </ion-label>
                                    <ion-toggle formControlName="highLoadingStationIntake" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Storage Capacity
                                    </ion-label>
                                    <ion-input type="number" formControlName="storageCapacity" placeholder="(number)"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Shooting Mechanism
                                    </ion-label>
                                    <ion-textarea formControlName="shootingMechanism" placeholder="Description of mechanism" ></ion-textarea>
                                </ion-item>
                                <ion-item>
                                    <ion-row>
                                        <ion-col>
                                            <ion-item lines="none">
                                                <ion-label>
                                                    Lower Target
                                                </ion-label>
                                                <ion-toggle formControlName="targetLower"></ion-toggle>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col>
                                            <ion-item lines="none">
                                                <ion-label>
                                                    Outer Target
                                                </ion-label>
                                                <ion-toggle formControlName="targetOuter"></ion-toggle>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-col>
                                        <ion-item lines="none">
                                            <ion-label>
                                                Inner Target
                                            </ion-label>
                                            <ion-toggle formControlName="targetInner"></ion-toggle>
                                        </ion-item>
                                    </ion-col>
                                </ion-item>
                            </ion-list>
                        </ion-item-group>

                        <ion-item-group formGroupName="climb">
                            <ion-item-divider>
                                <ion-label>
                                    Climb
                                </ion-label>
                            </ion-item-divider>
                            <ion-row>
                                <ion-col>
                                    <ion-list class="ns-pit-list">
                                        <ion-item>
                                            <ion-label>
                                                Can Climb
                                            </ion-label>
                                            <ion-toggle formControlName="canClimb"></ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Climb Type
                                            </ion-label>
                                            <ion-select formControlName="climbType">
                                                <ion-select-option value="rigid">Rigid</ion-select-option>
                                                <ion-select-option value="flexible">Flexible</ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating">
                                                <ion-input formControlName="height" type="number"></ion-input>
                                            </ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Secure Hold
                                            </ion-label>
                                            <ion-toggle formControlName="secureHold"></ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Time (Grip)
                                            </ion-label>
                                            <ion-select formControlName="timeGrip">
                                                <ion-select-option value="slow">Slow</ion-select-option>
                                                <ion-select-option value="med">Medium</ion-select-option>
                                                <ion-select-option value="fast">Fast</ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Time (Grip to Climb)
                                            </ion-label>
                                            <ion-select formControlName="timeGripToClimb">
                                                <ion-select-option value="slow">Slow</ion-select-option>
                                                <ion-select-option value="med">Medium</ion-select-option>
                                                <ion-select-option value="fast">Fast</ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Tilting
                                            </ion-label>
                                            <ion-toggle formControlName="tilting"></ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating">
                                                Climb Mechanism
                                            </ion-label>
                                            <ion-textarea formControlName="climbMechanism" placeholder="Description of climb mechanism" >
                                            </ion-textarea>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Preferred Position
                                            </ion-label>
                                            <ion-select formControlName="preferredPosition">
                                                <ion-select-option value="any">Any</ion-select-option>
                                                <ion-select-option value="inner">Inner</ion-select-option>
                                                <ion-select-option value="middle">Middle</ion-select-option>
                                                <ion-select-option value="outer">Outer</ion-select-option>
                                            </ion-select>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label>
                                                Level Generator
                                            </ion-label>
                                            <ion-toggle color="primary" formControlName="canLevelGenerator"></ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Level Self
                                            </ion-label>
                                            <ion-toggle color="primary" formControlName="levelSelf"></ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Level Other
                                            </ion-label>
                                            <ion-toggle color="primary" formControlName="levelOther"></ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Reposition While Hanging
                                            </ion-label>
                                            <ion-toggle color="primary" formControlName="repositionWhileHanging">
                                            </ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>
                                                Buddy Climb
                                            </ion-label>
                                            <ion-toggle color="primary" formControlName="canBuddyClimb">
                                            </ion-toggle>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="floating">
                                                Buddies
                                            </ion-label>
                                            <ion-input placeholder="(How many?)" formControlName="buddies"></ion-input>
                                        </ion-item>

                                    </ion-list>
                                </ion-col>
                            </ion-row>
                        </ion-item-group>

                        <ion-item-group formGroupName="controlPanel">
                            <ion-item-divider>
                                <ion-label>
                                    Control Panel
                                </ion-label>
                            </ion-item-divider>
                            <ion-list class="ns-pit-list">
                                <ion-item>
                                    <ion-label>
                                        Manipulate Control Panel
                                    </ion-label>
                                    <ion-toggle formControlName="canManipulateControlPanel"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Brakes
                                    </ion-label>
                                    <ion-toggle formControlName="brakes" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Rotation Control
                                    </ion-label>
                                    <ion-toggle formControlName="rotationControl" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Position Control
                                    </ion-label>
                                    <ion-toggle formControlName="positionControl" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Sensor
                                    </ion-label>
                                    <ion-toggle formControlName="sensor" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Notes
                                    </ion-label>
                                    <ion-textarea formControlName="notes" placeholder="(What kind of sensor etc)" ></ion-textarea>
                                </ion-item>
                            </ion-list>

                        </ion-item-group>

                        <ion-item-group formGroupName="auto">
                            <ion-item-divider>
                                <ion-label>
                                    Auto
                                </ion-label>
                            </ion-item-divider>
                            <ion-list class="ns-pit-list">
                                <ion-item>
                                    <ion-label>
                                        Does Auto
                                    </ion-label>
                                    <ion-toggle formControlName="canAuto" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Line
                                    </ion-label>
                                    <ion-toggle formControlName="line" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label>
                                        Can Shoot
                                    </ion-label>
                                    <ion-toggle formControlName="canShoot" color="primary"></ion-toggle>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Balls
                                    </ion-label>
                                    <ion-input formControlName="balls" type="number" placeholder="(number)"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating">
                                        Pick up
                                    </ion-label>
                                    <ion-input formControlName="pickup" type="number" placeholder="(number)"></ion-input>
                                </ion-item>
                            </ion-list>

                        </ion-item-group>

                    </ion-col>
                </ion-row>


                <ion-row *ngIf="spinner" justify-content-center>
                    <ion-col size-md="5">
                        <ion-spinner></ion-spinner>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="successMessage" justify-content-center>
                    <ion-col size-md="5">
                        <ion-item color="success">
                            {{successMessage}}
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row justify-content-center>
                    <ion-col size-md="2">
                        <ion-button expand color="success" (click)="onSubmit()" [disabled]="pitForm.pristine || pitForm.invalid">
                            Save
                        </ion-button>
                    </ion-col>
                    <ion-col size-md="3">
                        <ion-button color="danger" (click)="pitForm.reset()">
                            Clear
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

    </form>

    <!--    <ion-row>-->
    <!--        <ion-col>-->
    <!--            <pre>{{pitForm.value | json}}</pre>-->
    <!--        </ion-col>-->
    <!--    </ion-row>-->


</ion-content>

