<form [formGroup]="autoForm" novalidate>
    <ion-row>
        <ion-col>
            <ion-row>
                <ion-col class="ns-card-form">
                    <ion-row>
                        <ion-col>
                            <ion-item color="medium">
                                <ion-label>
                                    Driver Position
                                </ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="2">
<!--                            <ul class="ns-auto-ul-blue">-->
<!--                                <li> :{{parentData.teamDetails.idAlliance}} - {{parentData.teamDetails.idDriveStation}}</li>-->
<!--                                <li>-->
<!--                                   {{autoForm.value['position']['red1']}}-->
<!--                                </li>-->
<!--                                <li *ngIf="autoForm.value['position']['red1']">-->
<!--                                    Red 1-->

<!--                                </li>-->
<!--                            </ul>-->

                        </ion-col>
                        <ion-col>
                            <img src="assets/imgs/field.png">
                        </ion-col>

                        <ion-col size="2">
<!--                            <ul *ngIf="parentData.teamDetails.idAlliance === 1" class="ns-auto-ul-red">-->
<!--                                <li *ngIf="parentData.teamDetails.idDriveStation === 1">-->
<!--                                    one-->
<!--                                </li>-->
<!--                            </ul>-->
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col formGroupName="auto" class="ns-card-form">
                    <ion-list>
                        <ion-item color="medium">
                            <ion-label>
                                Auto
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Does Auto?
                            </ion-label>
                            <ion-toggle formControlName="auto_flStart"></ion-toggle>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Leave Line?
                            </ion-label>
                            <ion-toggle formControlName="auto_flBaseLine"></ion-toggle>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">
                                Pickup New Cells?
                            </ion-label>
                            <ion-input type="number" formControlName="auto_numCellLoad"></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col>
            <ion-row>
                <ion-col formGroupName="errors" class="ns-card-form">
                    <ion-list>
                        <ion-item color="danger">
                            <ion-label>
                                Errors
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Foul
                            </ion-label>
                            <ion-toggle formControlName="auto_flFoul" color="danger"></ion-toggle>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Hit Robot
                            </ion-label>
                            <ion-toggle formControlName="auto_flRobotContact" color="warning"></ion-toggle>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Lose Cells
                            </ion-label>
                            <ion-toggle formControlName="auto_flLoseStartObject" color="warning"></ion-toggle>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Sector
                            </ion-label>
                            <ion-toggle formControlName="auto_flCrossOver" color="warning"></ion-toggle>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col formGroupName="performance" class="ns-card-form">
                    <ion-list>
                        <ion-item color="medium">
                            <ion-label>
                                Performance
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">
                                Cells Fired
                            </ion-label>
                            <ion-row>
                                <ion-col>
                                    <ion-button color="success"
                                                (click)="increaseValue('performance', 'auto_numCellAttempt')">
                                        +
                                    </ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-input type="number" formControlName="auto_numCellAttempt"></ion-input>
                                </ion-col>
                                <ion-col>
                                    <ion-button color="danger"
                                                (click)="decreaseValue('performance', 'auto_numCellAttempt')">
                                        -
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">
                                Cells Scored
                            </ion-label>
                            <ion-row>
                                <ion-col>
                                    <ion-button color="success"
                                                (click)="increaseValue('performance', 'auto_numCellSuccess')">
                                        +
                                    </ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-input type="number" formControlName="auto_numCellSuccess"></ion-input>
                                </ion-col>
                                <ion-col>
                                    <ion-button color="danger"
                                                (click)="decreaseValue('performance', 'auto_numCellSuccess')">
                                        -
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Outer Port
                            </ion-label>
                            <ion-toggle formControlName="auto_flOuter" color="primary"></ion-toggle>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Inner Port
                            </ion-label>
                            <ion-toggle formControlName="auto_flInner" color="primary"></ion-toggle>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Lower Port
                            </ion-label>
                            <ion-toggle formControlName="auto_flLower" color="primary"></ion-toggle>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>

        </ion-col>

    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col size-lg="6">
            <ion-button
                    [disabled]="autoForm.pristine || autoForm.invalid"
                    expand="block" color="success">
                Save Auto
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button (click)="autoForm.reset()"
                expand="block" color="light">
                Clear
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button (click)="router.navigateByUrl('/setup')"
                expand="block" color="danger">
                Cancel
            </ion-button>
        </ion-col>
    </ion-row>
</form>



