<ion-row>
    <ion-col>
        <h1>
            Pit Scouting Form
        </h1>
    </ion-col>
</ion-row>

<form [formGroup]="pitForm" novalidate>
    <ion-row>
        <ion-col>
            <ion-list formGroupName="header">
                <ion-item>
                    <ion-label position="floating">
                        Scout Name
                    </ion-label>
                    <ion-select formControlName="teamMemberId">
                        <ion-select-option *ngFor="let t of teamMembers" [value]="t.id">{{t.lastName}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        Event
                    </ion-label>
                    <ion-select formControlName="event">
                        <ion-select-option value="aus">2020 South Pacific Regional</ion-select-option>
                        <ion-select-option value="ddu">2020 Duel Down Under</ion-select-option>
                        <ion-select-option value="gal">2020 Galileo Division</ion-select-option>
                    </ion-select>

                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col formGroupName="detail">
            <ion-row>
                <ion-col>
                    <h2>Detail</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">
                                Team Name
                            </ion-label>
                            <ion-select formControlName="teamId">
                                <ion-select-option *ngFor="let t of teams" [value]="t.id">{{t.name}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">
                                Scout
                            </ion-label>
                            <ion-select formControlName="teamMemberId">
                                <ion-select-option *ngFor="let m of teamMembers" [value]="m.id">{{m.lastName}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>

    <ion-row formGroupName="hatches">
        <ion-col>
           <ion-row>
               <ion-col>
                   <h2>Hatches</h2>
               </ion-col>
           </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-label>Can Manipulate Hatch</ion-label>
                            <ion-checkbox formControlName="canManipulate" color="primary"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label>Floor Intake</ion-label>
                            <ion-checkbox formControlName="floorIntake"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label>Deliver Low Level</ion-label>
                            <ion-checkbox formControlName="deliverLowLevel"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label>Deliver Mid Level</ion-label>
                            <ion-checkbox formControlName="deliverMidLevel"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label>Deliver High Level</ion-label>
                            <ion-checkbox formControlName="deliverHighLevel"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Intake Notes</ion-label>
                            <ion-textarea formControlName="notes" placeholder="Enter more..."></ion-textarea>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>

    <ion-row formGroupName="cargo">
        <ion-col>
            <ion-row>
                <ion-col>
                    <h2>Cargo</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-label>Can Manipulate Cargo</ion-label>
                            <ion-checkbox formControlName="canManipulate" color="primary"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label>Floor Intake</ion-label>
                            <ion-checkbox formControlName="floorIntake"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label>Deliver Low Level</ion-label>
                            <ion-checkbox formControlName="deliverLowLevel"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label>Deliver Mid Level</ion-label>
                            <ion-checkbox formControlName="deliverMidLevel"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label>Deliver High Level</ion-label>
                            <ion-checkbox formControlName="deliverHighLevel"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Intake Notes</ion-label>
                            <ion-textarea formControlName="notes" placeholder="Enter more..."></ion-textarea>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>

    <ion-row formGroupName="sandstorm">
        <ion-col>
            <ion-list>
                <ion-list-header>
                    Sandstorm
                </ion-list-header>
                <ion-item>
                    <ion-label>Sandstorm Mode?</ion-label>
                    <ion-checkbox formControlName="sandstormMode"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Control</ion-label>
                    <ion-select formControlName="control" placeholder="select type">
                        <ion-select-option *ngFor="let t of autoTypes" [value]="t.id">{{t.type}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Max HAB</ion-label>
                    <ion-select formControlName="maxHAB">
                        <ion-select-option value="0">N/A</ion-select-option>
                        <ion-select-option value="1">Low</ion-select-option>
                        <ion-select-option value="2">Mid</ion-select-option>
                        <ion-select-option value="3">High</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Deliver Hatch</ion-label>
                    <ion-checkbox formControlName="deliverHatch"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Max Hatches</ion-label>
                    <ion-input type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Max Height</ion-label>
                    <ion-select formControlName="maxHatchHeight">
                        <ion-select-option value="0">N/A</ion-select-option>
                        <ion-select-option value="1">Low</ion-select-option>
                        <ion-select-option value="2">Mid</ion-select-option>
                        <ion-select-option value="3">High</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Deliver Cargo</ion-label>
                    <ion-checkbox formControlName="deliverCargo"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Max Cargo</ion-label>
                    <ion-input type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Max Height</ion-label>
                    <ion-select formControlName="maxCargoHeight">
                        <ion-select-option value="0">N/A</ion-select-option>
                        <ion-select-option value="1">Low</ion-select-option>
                        <ion-select-option value="2">Mid</ion-select-option>
                        <ion-select-option value="3">High</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

    <ion-row formGroupName="climb">
        <ion-col>
            <ion-list>
                <ion-list-header>Climb</ion-list-header>
                <ion-item>
                    <ion-label>Can Climb?</ion-label>
                    <ion-checkbox formControlName="canClimb"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Type</ion-label>
                    <ion-select formControlName="type">
                        <ion-select-option *ngFor="let t of climbTypes" [value]="t.id">{{t.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Grab Speed</ion-label>
                    <ion-select formControlName="grabSpeed">
                        <ion-select-option *ngFor="let t of speeds" [value]="t.id">{{t.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Climb Speed</ion-label>
                    <ion-select formControlName="climbSpeed">
                        <ion-select-option *ngFor="let t of speeds" [value]="t.id">{{t.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Max Height</ion-label>
                    <ion-select formControlName="maxHeight">
                        <ion-select-option value="0">N/A</ion-select-option>
                        <ion-select-option value="1">Low</ion-select-option>
                        <ion-select-option value="2">Mid</ion-select-option>
                        <ion-select-option value="3">High</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

    <ion-row formGroupName="image">
        <ion-col>
            <ion-list>
                <ion-header>
                    Image
                </ion-header>
                <ion-item>
                    <ion-label position="floating">
                        Front
                    </ion-label>
                    <ion-input placeholder="To be implemented" formControlName="front"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        Side
                    </ion-label>
                    <ion-input placeholder="To be implemented" formControlName="side"></ion-input>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-button color="success" (click)="onSubmit()" [disabled]="pitForm.pristine || pitForm.invalid">
                Save
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="danger" (click)="pitForm.reset()">
                Clear
            </ion-button>
        </ion-col>
    </ion-row>


    <ion-row *ngIf="qrValue !== undefined">
        <ion-col>
            <ngx-qrcode
                    qrc-element-type="text"
                    [qrc-value] = "qrValue"></ngx-qrcode>
        </ion-col>
    </ion-row>

</form>

<ion-row>
    <ion-col>
        <pre>{{pitForm.value | json}}</pre>
    </ion-col>
</ion-row>

